
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');



.terms-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.08);
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  color: #333;
  margin-top:70px;
}

.terms-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #359a69;
  text-align: center;
}

.terms-section {
  margin-bottom: 25px;
}

.terms-section h3 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  color:  black;
}

.terms-section p {
  margin: 0 0 10px;
  font-size:11px;
}

.terms-section ul {
  list-style: disc;
  padding-left: 20px;
}

.terms-section li {
  margin-bottom: 8px;
  font-size:11px;
}

.terms-section a {
  color: #8b008b;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .terms-container {
    padding: 20px;
  }

  .terms-title {
    font-size: 22px;
  }

  .terms-section h3 {
    font-size: 16px;
  }
}